# django settings
DEBUG=1
DJANGO_SECRET=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

# jwt expire time
ACCESS_TOKEN_EXPIRES=15
REFRESH_TOKEN_EXPIRES=30

# DB envs
DB_NAME=
DB_USER=
DB_HOST=
DB_PORT=
DB_PASSWORD=

# Redis envs
REDIS_DB=
REDIS_HOST=
REDIS_PORT=
